.NFT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.NFT .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 100px;
  left: 0;
  position: absolute;
  top: 0;
}

.NFT .rectangle-2 {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: center;
  width: 100%;
}

.NFT .div {
  background-color: #ffffff00;
  border: 1px none;
  height: 2178px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.NFT .group {
  height: 337px;
  left: 1599px;
  position: absolute;
  top: 703px;
  width: 256px;
}

.NFT .rectangle {
  height: 337px;
  left: -7346px;
  object-fit: cover;
  position: absolute;
  top: 2605px;
  width: 256px;
}

.NFT .overlap {
  height: 1304px;
  left: 248px;
  position: absolute;
  top: 232px;
  width: 859px;
}

.NFT .overlap-group-wrapper {
  height: 83px;
  left: 0;
  position: absolute;
  top: 482px;
  width: 429px;
}

.NFT .overlap-group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c9c9c9;
  border-radius: 10px;
  height: 83px;
  position: relative;
  width: 425px;
}

.NFT .text-wrapper {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 165px;
}

.NFT .div-wrapper {
  background-color: #ff7325;
  border-radius: 10px;
  height: 46px;
  left: 303px;
  position: absolute;
  top: 17px;
  width: 112px;
}

.NFT .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 600;
  height: 24px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 43px;
}

.NFT .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 4px;
  position: absolute;
  top: 680px;
  width: 666px;
}

.NFT .frame-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1.5px solid;
  border-color: #ebebed;
  border-radius: 32px;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  margin-left: -1.5px;
  margin-right: -1.5px;
  margin-top: -1.5px;
  padding: 32px;
  position: relative;
  width: 100%;
}

.NFT .dialogueballoon {
  height: 130px;
  object-fit: cover;
  position: relative;
  width: 130px;
}

.NFT .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.NFT .text-wrapper-3 {
  color: var(--grey-scaleblack);
  font-family: "Noto Sans KR", Helvetica;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.NFT .p {
  color: #191825;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  width: 416px;
}



.NFT .frame-4 {
  align-items: center;
  background-color: var(--white);
  border: 1.5px solid;
  border-color: #ebebed;
  border-radius: 32.54px;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 32.54px;
  position: relative;
  width: 666px;
}

.NFT .element {
  height: 134px;
  object-fit: cover;
  position: relative;
  width: 136px;
}

.NFT .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8.14px;
  position: relative;
  width: 426px;
}

.NFT .text-wrapper-4 {
  color: var(--grey-scaleblack);
  font-family: "Noto Sans KR", Helvetica;
  font-size: 23.4px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28.1px;
  margin-top: -1.02px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.NFT .text-wrapper-5 {
  color: #191825;
  font-family: "Inter", Helvetica;
  font-size: 18.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 29.3px;
  margin-right: -0.13px;
  position: relative;
  width: 426.13px;
}

.NFT .NFT-NFT-NFT-NFT {
  height: 1304px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 858px;
}

.NFT .img {
  height: 70px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 488px;
  width: 70px;
}


.NFT .h-1 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 48px;
  font-weight: 700;
  height: 52px;
  left: 521px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
  width: 237px;
}

.NFT .text-wrapper-6 {
  color: #000000;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 497px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 99px;
  width: 431px;
}

.NFT .overlap-2 {
  height: 352px;
  left: 266px;
  position: absolute;
  top: 1574px;
  width: 627px;
}

.NFT .rectangle-3 {
  height: 266px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 272px;
}

.NFT .group-2 {
  height: 352px;
  left: 0;
  position: absolute;
  top: 0;
  width: 627px;
}

.NFT .overlap-3 {
  height: 83px;
  left: 0;
  position: absolute;
  top: 268px;
  width: 251px;
}

.NFT .text-wrapper-7 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  transform: rotate(-1.23deg);
  width: 250px;
}

.NFT .group-3 {
  height: 46px;
  left: 5px;
  position: absolute;
  top: 36px;
  transform: rotate(-1.23deg);
  width: 105px;
}

.NFT .text-wrapper-8 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 103px;
}

.NFT .text-wrapper-9 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 354px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 267px;
  transform: rotate(-1.23deg);
  width: 252px;
}

.NFT .group-4 {
  height: 48px;
  left: 358px;
  position: absolute;
  top: 299px;
  transform: rotate(-1.23deg);
  width: 105px;
}

.NFT .rectangle-4 {
  height: 256px;
  left: 348px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 275px;
}
